</div>
    
    
<div id="footer">

    <div id="container">
    
        <!--로고-->
        <div id="ft1">
    
            <div id="logo"><img src="img/logo.png" alt="logo" title="그랜드힐스턴호텔 로고"></div>
        
        </div>
        
        <!--홈페이지 정보, 카피라이트-->
        <div id="ft2">
        
            <ul id="info">
                <li>대표자 : 전석환 | </li>
                <li>연락처 : 032-1234-5678 | </li>
                <li>모바일 : 010-1234-5678 | </li>
                <li>이메일 : abcd1234@naver.com | </li>
                <li>주소 : 인천광역시 미추홀구 123번길 45</li>
            </ul>
            
            <ul id="copyright">
                <li><%= new Date().getFullYear() %> 그랜드힐스턴호텔 ⓒ all rights reserved</li>
            </ul>
        
        </div>
        
    
    </div>

</div>


</body>
</html>