/* ** 공통(시작) ** */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
}

table {
    border-collapse: collapse;
}

/* ** 공통(끝) ** */

/* 표(게시판) */
th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: orange;
    font-weight: bold;
    text-align:center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* 짝수 번째 행 배경 색 */
}

tr:hover {
    background-color: #f1f1f1;
    /* 마우스 오버 시 배경 색 */
}