li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* 짝수 번째 행 배경 색 */
}

tr:hover {
    background-color: #f1f1f1;
    /* 마우스 오버 시 배경 색 */
}