* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

li {
    list-style: none;
}


/* ** 클래스 모음 ** */
.bg_red {
    background-color: red;
}

.bg_blue {
    background-color: blue;
}

.bg_green {
    background-color: green;
}

.bg_yellow {
    background-color: yellow;
}

.arrows {
    width: 25px;
    height: 50px;
}

/* 클래스 Ex1 */
.ex1_box {
    width: 200px;
    height: 200px;
}

/* ** Exit 클래스 모음 ** */

/* Ex1 */

/* Ex1 - 왼쪽 화살 */
#ex1 #to_left {
    width: 35px;
    height: 200px;
    float: left;

}

#ex1 #to_left>.arrows {
    margin-right: 5px;
    margin-top: 65px;
}

/* Ex1 - 오른쪽 화살 */
#ex1 #to_right {
    width: 35px;
    height: 200px;
    float: left;
}

#ex1 #to_right>.arrows {
    margin-left: 5px;
    margin-top: 65px;
}

/* Ex1 - 박스 */
#ex1 #boxs {
    float: left;
}

#ex1 #boxs>ul {
    width: 200px;
    height: 200px;
    background: grey;
    /* 포지션 */
    position: relative
}

#ex1 #boxs>ul>li {
    width: 200px;
    height: 200px;
    /* 포지션 */
    position: absolute;
}